body {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#vertical-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 200px;
}

#resDiv {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;

}

span {
    white-space: pre;
}

.text {
    margin-right: 10px;
}

select {
    margin-left: 10px;
}